@import url('https://fonts.googleapis.com/css2?family=Jost&family=Roboto:wght@700;900&display=swap');
@import url('https://fonts.cdnfonts.com/css/sofia-pro');


/* common start */
body{
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #111;
}
.c_padd{
    padding-bottom: 100px;
}
/* common end */


/* header start */
header{
    background-color: #F9F9F9;
    padding: 24px 180px;
}
.menu ul li a{
    padding-right: 35px !important;
    font-size: 17px;
    line-height: 24px;
}
.icons ul li a{
    padding-right: 35px !important;
    display: flex;
    width: 28px;
    height: 28px;
    justify-content: center;
    align-items: center;
}
.menu ul li:last-child a{
    padding-right: 0 !important;
}
.menu ul li a:hover{
    font-weight: 600;
    color: #C8815F;
}
/* header end */


/* Slider start */
.slider{
    padding-top: 100px;
}
.s_text{
    margin-top: 50px;
}
.s_text p{
    margin-left: 8px;
    margin-bottom: 12px !important;
    font-size: 17px;
    font-weight: 600;
}
.s_text h1{
    margin-bottom: 40px !important;
    font-family: 'Sofia Pro', sans-serif;
    font-size: 56px;
    font-weight: 900;
    line-height: 64px;
    letter-spacing: -2.24px;
    text-transform: uppercase;
}
.cm_btn{
    justify-content: center;
    align-items: center;
    font-weight: 600;
    border-radius: 4px;
    border: 1px solid #111 ;
}
.cm_btn:hover{
    background-color: #C8815F;
}
.c_ind{
    bottom: -80px;
}
.c_ind [data-bs-target]{
    margin-right: 25px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
}
/* slider end */


/* feature start */
.s_feature{
    margin-top: 45px;
    background-color: #e5f7e8;
    padding: 50px 0 30px;
    border-radius: 10px;
    transition: .33s ease;
}
.s_feature:hover{
    background-color: #fff;
    box-shadow: 0 20px 40px 0 rgba(0,0,0,0.10);
}
.s_img{
    margin: 0 auto;
}
.fh2{
    font-weight: 600;
    margin-top: 20px;
    font-size: 24px;
    color: #111;
    line-height: 36px;
}
.fp{
    font-weight: 500;
}
/* feature end */



/* Sales start */
.c_h1{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #111;
    line-height: 36px;
    text-transform: uppercase;
}
.c_item{
    margin-top: 60px;
    padding: 24px 20px 30px;
    border-radius: 18px;
    box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.10);
}
.c_h2{
    font-family: 'Roboto', sans-serif;
    margin: 20px 0 5px;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    color: #111;
}
.cp{
    font-weight: 600;
}
.s_btn{
    margin-top: 15px;
    width: 120px;
    height: 35px; 
}
.c_footer{
    margin-top: 20px;
}
.list-inline-item:not(:last-child){
    margin-right: 2px;
}
ul li span{
    font-weight: 500;
}
/* Sales end */


/* about start */
.a_h1{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
}
.a_p1{
    font-size: 18px;
	margin: 36px 0;
	line-height: 26px;
}
.a_p2{
    font-size: 18px;
	margin-bottom: 36px;
	line-height: 26px;
}
/* about end */


/*testimony start*/
.testimony{
    padding-top: 0;
}
.carou_border{
	border: 1px solid #8e8e8e;
	border-radius: 4px;
}
.t_content {
    padding: 40px 30px;
}
.tes_img{
	position: relative;
}
.tes_img img{
	border-radius: 2px;
}
.q_icon {
    position: absolute;
    top: 12px;
    left: 12px;
}
.q_icon i{
	font-size: 40px;
    color: #333333;
}
.tesc_h2{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #111;
    text-transform: uppercase;
}
.tesc_h3{
	margin: 18px 0;
    font-family: 'Roboto', sans-serif;
	font-size: 18px;
    font-weight: 400;
    color: #8e8e8e;
}
.tesc_p1{
	margin-top: 36px;
    color: #8e8e8e;
	line-height: 26px;
}
.tesc_p2{
    color: #8e8e8e;
	line-height: 26px;
}
.pipe_box{
	display: flex;
    flex-direction: column;
    align-items: center;
}
.pipe{
	width: 12px;
    height: 2px;
    background-color: #8e8e8e;
}
.pipe2{
    margin: 6px 0;
    width: 18px;
	background-color: #333333;
}
.tes_btn1{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
	background: #f7f3f3;
    align-items: center;
	border-radius: 4px;
}
.tes_sbtn{
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #8e8e8e;
    background: transparent;
    writing-mode: vertical-rl;
    transform: rotate(90deg);
    border: 1px solid transparent;
    transition: .3s ease;
}
.tes_sbtn:hover{
	color: #333333;
}
.tes_sbtn:active{
	color: black;
}
/*testimony end*/


/*contact start*/
.contact_box{
	border: 1px solid #8e8e8e;
}
.c_form{
	position: relative;
    margin-top: 90px;
}
.c_form input{
	padding: 10px 15px;
    font-family: 'Roboto', sans-serif;
	font-size: 16px;
    font-weight: 400;
    color: #8e8e8e;
    border: 0;
    border-bottom: 1px solid #111;
}
.c_form input:focus{
	outline: 0;
	border-bottom: 2px solid #111;
}
.c_formh1{
	padding: 0 10px;
    position: absolute;
    top: -110px;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 400;
    color: #333333;
    background-color: #fff;
    text-transform: uppercase;
}
.cfin_1{
	margin-bottom: 20px;
}
.cfin_1 input{
	width: 46%;
}
.cfin_1 input:first-child{
	margin-right: 40px;
}
.cfin_2 {
    width: 100%;
    border-bottom: 1px solid black;
}
.cfin_3 {
    padding: 60px 15px !important;
    width: 100%;
}
.form_btn{
    margin: 45px 0;
	text-align: center;
}
/*contact end*/


/* footer top strat */
.footer_top{
    padding: 45px 0 35px;
    background-color: #282531;
}
.ft_details{
    padding-right: 120px;
}
.ft_details p{
    color: #fff;
    line-height: 30px;
}
.ft_links h2{
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    line-height: 30px;
}
.ft_links ul li a{
    margin-bottom: 8px;
    display: block; 
    text-decoration: none;
    color: #fff;
}
/* footer top end */

/* footer start */
footer{
    padding: 15px 0 15px;
    background-color: #282531;
}
footer p{
    color: #fff;
    line-height: 30px;
}
footer p a{
    color: #fff;
    text-decoration: none;
}
/* footer end */